
<div class="report-widget">
    <h3>Urlaubsinfo</h3>

<div class="control-status-list">
    <ul>

        <?php if($code_vacation_info_on == '1') {  ?>
         <li>
            <span class="status-icon success"><i class="icon-check"></i></span>
            <span class="status-text success"><strong>Urlaubsmodus AN</strong></span>
            <a href="system/settings/update/alex/vacationnotice/config" class="status-label link">Update</a>
        </li>        

        <li>
            <span class="status-icon success"><i class="icon-info"></i></span>
            <span class="status-text success"><?php echo date_format( new DateTime($code_vacation_info_start) , 'd.m.Y' ) ?></span>
        </li>
        <li>
            <span class="status-icon danger"><i class="icon-info"></i></span>
            <span class="status-text danger"><?php echo date_format( new DateTime($code_vacation_info_end) , 'd.m.Y' ) ?></span>
        </li>

        <?php } else { ?>
         <li>
            <span class="status-icon warning"><i class="icon-exclamation"></i></span>
            <span class="status-text warning"><strong>Urlaubsmodus AUS</strong></span>
            <a href="system/settings/update/alex/vacationnotice/config" class="status-label link">Update</a>
        </li>               
        <?php } ?>        

    </ul>
</div>
</div>        



