{% set ende = code_vacation_info_end|date_modify("+1 day")|date("d.m.Y")  %}
{% set heute = date()|date("d.m.Y")  %}

{% if code_vacation_info_on == 1 %}
    {% if heute < ende %}
        <div class="jumbotron">
            <div class="container">
                <h3>{{ code_vacation_info_message }}</h3>
                <hr>
                <h4>
                    {% if code_vacation_info_end %}
                        {{ code_vacation_txt_ab_start }} {{ code_vacation_info_start|date("d.m.Y") }} {{ code_vacation_date_between }} {{ code_vacation_info_end|date("d.m.Y") }}
                    {% else %}
                        {{ code_vacation_txt_ab_start }} {{ code_vacation_info_start|date("d.m.Y") }}
                    {% endif %}
                </h4>    
            </div>
        </div>
    {% endif %}
{% endif %}